{% extends "base.html" %}
{% block title %}Artist List{% endblock %}
{% load staticfiles %}

      {% block body %}
      <div id="wrapper">
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-6 full-width margin-top-20percent" >
              <div class="panel panel-default full-width">

                <div class="panel-heading">
                  Edit Help
                </div>
                <form action="" method="get">
                  <select name="search_item">
                  <option value="name">アーティスト名</option>
                  <option value="aliase">アーティスト別名</option>
                  <option value="tag">タグ</option>
                  </select>
                  <input type="text" size="20" name="search">
                  <input type="submit" value="送信">
                </form>
                <div class="panel-body full-width full-height">
                  <table id="artist-list-table" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline full-width">
                    <thead>
                      <tr>
                        <th>名前</th>
                        <th>別名</th>
                        <th>地域</th>
                        <th>活動開始</th>
                        <th>活動終了</th>
                        <th>タグ</th>
                        <th>レーティング(投票数)</th>
                        <th>レーティング(平均)</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for artist in objects %}
                      <tr>
                        <td>{{artist.name}}</td>
                        <td>{{artist.aliases | linebreaksbr}}</td>
                        <td>{{artist.area}}</td>
                        <td>{{artist.begin}}</td>
                        <td>{{artist.end}}</td>
                        <td>{{artist.tags | linebreaksbr}}</td>
                        <td>{{artist.rating_num}}</td>
                        <td>{{artist.rating_ave}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
            $('#artist-list-table').DataTable({
                responsive: true,
                // sort機能の無効化
                ordering: true,
                // ページの表示件数を変更する
                displayLength: 20,
            });
        });
      </script>
      {% endblock %}
